
<nav class="navbar navbar-dark bg-success">
  <a class="navbar-brand" href="/" style="color: black; " >
  Practica de Angular</a>
</nav>


<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4">
    
      <h3>Usuarios en el sistema:</h3>
      <ul class="list-group">
        <li
          *ngFor="let usuario of usuarioArray | filter: searchText"
          class="list-group-item list-group-item-action"
          (click)="openForEdit(usuario)"
          [class.active]="usuario==selectedUser">
          <span>&nbsp;</span>
          <span>&nbsp;</span>
          Id: {{usuario.id}}
          <span>&nbsp;</span>
          <span>&nbsp;</span>
          Nombre: {{usuario.name}}
          <span>&nbsp;</span>
          <span>&nbsp;</span>
          Apellido: {{usuario.lastName}}
          <span>&nbsp;</span>
          <span>&nbsp;</span>
          Email: {{usuario.email}}
          <span>&nbsp;</span>
          <span>&nbsp;</span>
          Tel: {{usuario.phoneNumber}}
          <span>&nbsp;</span>
          <span>&nbsp;</span>
          Tipo: {{usuario.type}}

        </li>


      </ul>
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
            Insertar/Editar usuario
          </div>
          <span>&nbsp;</span>
          <div class="form-group">
            <input type="text" [(ngModel)]="selectedUser.id" placeholder="Insertar Id" class="form-control" required minlength="4">
          </div>
          <span>&nbsp;</span>
          <div class="form-group">
            <input type="text" [(ngModel)]="selectedUser.name" placeholder="Insertar Nombre" class="form-control" required minlength="4">
          </div>
          <span>&nbsp;</span>
          <div class="form-group">
            <input type="text" [(ngModel)]="selectedUser.lastName" placeholder="Insertar Apellido" class="form-control" required minlength="4">
          </div>
          <span>&nbsp;</span>
          <div class="form-group">
            <input type="text" [(ngModel)]="selectedUser.email" placeholder="Insertar Email" class="form-control" required minlength="4">
          </div>
          <span>&nbsp;</span>
            <div class="form-group">
            <input type="text" [(ngModel)]="selectedUser.phoneNumber" placeholder="Insertar Tel" class="form-control" required minlength="4">
          </div>
          <span>&nbsp;</span>
          <div class="form-group">
            <input type="text" [(ngModel)]="selectedUser.type" placeholder="Insertar Tipo" class="form-control" required minlength="4">
          </div>
          
          
        </div>
        <div><button (click)="addOrEdit()" class="btn btn-success " >
          Aplicar
        </button>
      <button 
      *ngIf="selectedUser.id!==0"
       class="btn btn-danger"
       (click)="delete()">
        Eliminar
      </button>
    </div>
      </div>
    </div>
    
   
    <div class="col-md-4">
      <img
      width="330"
      alt="Angular Logo"
      src="https://cdn.pixabay.com/photo/2016/04/15/18/05/computer-1331579_960_720.png"
      />
      
    </div>
    <div>
  </div>
</div>
